.no-padding {
  padding: 0;
}

.inner-container {
  width: 1032px;
  margin: 0 auto;
}

.breadcrumb-general {
  margin: 0;
  padding: 25px 0;
}

.general {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(292px, 3fr) 9fr;
  grid-template-columns: minmax(292px, 3fr) 9fr;

  height: 304px;
  margin: 0;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.06);
  padding: 12px;
  position: relative;

  &__image {
    width: 280px;
    height: 280px;
    position: relative;
    -ms-grid-column: 1;
  }

  &__info {
    padding-top: 20px;
    margin-left: 40px;
    -ms-grid-column: 2;
    position: relative;
  }

  &__icon-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__title {
    margin: 0;
  }

  &__status-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 !important;
    margin-top: 24px;
    flex-wrap: wrap;

    & > * {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__call {
    &_barcode {
      width: 144px;
    }
  }

  &__call-to-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 20px;
  }
}

.user-image-wrap {
  margin: 12px;
}

.purchase-items {
  & > * {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.timeline-nav-link {
  line-height: initial;
  padding: 0;
}

.member-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 328px 24px 328px 24px 328px;
  grid-template-columns: 328px 24px 328px 24px 328px;
  -ms-grid-rows: 284px 284px 284px 284px 80px;
  grid-template-rows: 284px 284px 284px 284px 80px;
  margin-top: 12px;

  &__card-header {
    padding: 32px 32px 0 32px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border: none;
  }

  &__subgrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 6fr;
    grid-template-columns: 6fr 6fr;
    -ms-grid-rows: 284px 284px;
    grid-template-rows: 284px 284px;
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  &_ml-12 {
    margin-left: 12px;
  }

  &_mr-12 {
    margin-right: 12px;
  }

  &_fixed-card-height {
    height: 260px;
  }
}

.scroll-content.member-grid__card-content {
  padding: 0 32px 0 32px !important;
}

.scroll-content.member-grid__card-content.scrollable-height_108 {
  padding: 0 32px 0 32px !important;
}

.scrollable-height {
  height: 176px;

  &_108 {
    height: 108px;
  }
}

.services {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  grid-column: 1;
}

.notes {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -ms-grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;

  &__add {
    margin-top: 24px;
    padding: 0 32px;
  }
}

.events {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  grid-column: 1;
}

.member-grid__subgrid {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  -ms-grid-row: 2;
  grid-column: 3 / span 3;
}

.quicknotes {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
  -ms-grid-column: 1;
  -ms-grid-row: 3;
  grid-column: 1;
}

.navbar.navbar-expand-lg.bg-white.quicknotes__header {
  margin-bottom: 20px;
}

.timeline {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
  height: 306px;
  -ms-grid-column: 1;
  -ms-grid-row: 4;
  grid-column: 1;
}

.personal {
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-row: span 2;
  margin-right: 12px;
}

.billing {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  margin-left: 12px;

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: column;

    &-dt {
      height: 20px;
      padding: 0;
    }

    &-dd {
      padding: 0;
      height: 26px;
    }
  }
}

.data-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  &_mt-16 {
    margin-top: 16px;
  }

  &__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(140px, max-content) minmax(10px, 45px) minmax(104px, max-content);
    grid-template-columns:minmax(140px, max-content) minmax(10px, 45px) minmax(104px, max-content);
  }

  &__col-left {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  &__col-right {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  &__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #767676;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    height: 20px;
  }

  &__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    height: 26px;
  }
}

.agreement {
  margin-left: 12px;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}

.purchase {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
  -ms-grid-column: 3;
  -ms-grid-row: 4;
  -ms-grid-column-span: 3;
  grid-column: 3 /span 3;

  &__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__body > * {
    margin-right: 10px;
  }

  &__body:last-child {
    margin-right: 0;
  }

  &__link {
    display: inline-block;
    margin-top: 8px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__image-wrapper {
    margin: 0;
    height: 120px;
    width: 115px;
  }
}

a.purchase__link.link-primary {
  font-size: 14px;
}

@media (max-width: 1031px) {
  .inner-container {
    width: 680px;
  }

  .general {
    height: 405px;
    -ms-grid-columns: minmax(292px, 4fr) 8fr;
    grid-template-columns: minmax(292px, 4fr) 8fr;

    &__info {
      margin-left: 30px;
      position: relative;
    }

    &__status-row {
      & > * {
        margin-right: 0;
      }
    }

    &__status-cell {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;

      &_barcode {
        width: 360px;
      }
    }
  }

  .member-grid {
    -ms-grid-columns: 328px 24px 328px;
    grid-template-columns: 328px 24px 328px;
    -ms-grid-rows: 284px 284px 284px 284px 330px 284px 80px;
    grid-template-rows: 284px 284px 284px 284px 330px 284px 80px;
  }

  .icon-link {
    margin-right: 0;
  }

  .section .cards-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .notes {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
    grid-column: span 3;
    margin-left: 0;
  }

  .services {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    order: 2;
  }

  .member-grid__subgrid {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    grid-column: 3;
  }

  .events {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    order: 4;
  }

  .quicknotes {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    order: 5;
  }

  .personal {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    margin-right: 0;
  }

  .billing {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    margin-left: 0;
  }

  .agreement {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    margin-left: 0;
  }

  .timeline {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    order: 6;
  }

  .purchase {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    -ms-grid-column-span: 3;
    grid-column: span 3;
    margin-left: 0;
    order: 7;
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
}