.inner-container {
  width: 1035px;
  margin: 0 auto;
}

.breadcrumb-general {
  margin: 0;
  padding: 25px 0;
}

.general {
  display: grid;
  grid-template-columns: minmax(292px, 3fr) 9fr;
  height: 304px;
  margin: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.06);
  padding: 12px;
}
.general__image {
  width: 280px;
  height: 280px;
  position: relative;
}
.general__info {
  padding-top: 20px;
  margin-left: 40px;
}
.general__title {
  margin: 0;
}
.general__status-row {
  display: flex;
  padding: 0 !important;
  margin-top: 24px;
}
.general__status-row > * {
  margin-right: 40px;
}
.general__status-row:last-child {
  margin-right: 0;
}
.general__call-to-action {
  display: flex;
  margin-top: 50px;
}

.user-image-wrap {
  margin: 12px;
}

.purchase-items > * {
  margin-right: 10px;
}
.purchase-items:last-child {
  margin-right: 0;
}

.timeline-nav-link {
  line-height: initial;
  padding: 0;
}

.agreement-page .link-primary.action,
.agreement-page .p-item a {
  font-size: 16px;
}

.member-grid {
  display: grid;
  grid-template-columns: [col-left-start] minmax(328px, 4fr) [col-left-end col-right-start] minmax(328px, 8fr) [col-right-end];
  grid-template-rows: auto auto auto auto auto auto;
  margin-bottom: 25px;
}
.member-grid__right {
  padding-left: 12px;
}
.member-grid__left {
  padding-right: 12px;
}
.member-grid__card {
  height: 260px;
}
.member-grid__subgrid {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: auto auto auto auto;
  margin-left: 12px;
  grid-row: span 2;
}
.member-grid_ml-12 {
  margin-left: 12px;
}
.member-grid_mr-12 {
  margin-right: 12px;
}

.inner-list {
  height: 179px;
  overflow: auto;
}

.services {
  order: 1;
  height: 260px;
}

.notes {
  order: 2;
  margin-left: 12px;
}
.notes__author {
  margin-top: 8px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.0882353px;
  color: #737373;
}
.notes__add {
  margin-top: 28px;
}

.events {
  order: 3;
  height: 260px;
  overflow: auto;
}

.member-grid__subgrid {
  order: 4;
}

.quicknotes {
  order: 5;
}

.timeline {
  order: 6;
  height: 306px;
  overflow: auto;
}

.personal {
  grid-row: span 2;
  margin-right: 12px;
}

.billing {
  margin-left: 12px;
}
.billing__content {
  display: flex;
  justify-content: space-between;
}

.agreement {
  margin-left: 12px;
}

.purchase {
  order: 7;
}

@media (max-width: 768px) {
  .inner-container {
    width: 680px;
  }

  .general {
    height: 405px;
    grid-template-columns: minmax(292px, 4fr) 8fr;
  }
  .general__info {
    margin-left: 30px;
  }
  .general__status-row > * {
    margin-right: 0;
  }
  .general__status-cell {
    flex-basis: 100%;
  }
  .general__call-to-action {
    margin-top: 7px;
  }

  .icon-link {
    margin-right: 0;
  }

  .section .cards-panel {
    display: flex;
  }

  .notes {
    order: 1;
    grid-column: span 2;
    margin-left: 0;
    grid-row: span 1;
  }

  .services {
    order: 2;
  }

  .member-grid__subgrid {
    order: 3;
    grid-row: span 4;
  }

  .events {
    order: 4;
  }

  .quicknotes {
    order: 5;
  }

  .personal {
    grid-column: span 2;
    grid-row: span 2;
    margin-right: 0;
  }

  .billing {
    grid-column: span 2;
    margin-left: 0;
  }

  .agreement {
    grid-column: span 2;
    margin-left: 0;
  }

  .purchase {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .services {
    grid-column: span 2;
    order: 1;
  }

  .notes {
    order: 2;
    margin-left: 0;
    grid-column: span 2;
  }

  .events {
    grid-column: span 2;
    order: 3;
  }

  .member-grid__subgrid {
    grid-column: span 2;
    order: 4;
    grid-row: span 4;
  }

  .quicknotes {
    grid-column: span 2;
    order: 5;
  }

  .timeline {
    grid-column: span 2;
    order: 6;
  }

  .personal {
    grid-row: span 2;
    margin-right: 12px;
  }

  .billing {
    margin-left: 12px;
  }

  .agreement {
    margin-left: 12px;
  }

  .purchase {
    grid-column: span 2;
    order: 7;
  }
}

/*# sourceMappingURL=adaptive_grid.css.map */
