<div class="container-fluid h-100 bg-light agreement-page">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-general">
            <li class="breadcrumb-item"><a href="#">Members</a></li>
            <li class="breadcrumb-item active">
                <dt:output value="${fullName}"/>
            </li>
        </ol>
    </nav>

    <div class="section general">
        <div class="general__image">
            <img id="pictureImage" onerror="this.src='/images/bootstrap/nophoto_placeholder_100x120.svg';"
                 src="<dt:value property=" bootstrapPictureSource" javaScriptSafe="0"/>" class="card-img" />
        </div>
        <div class="general__info">
            <h1 class="general__title">
                <dt:value property="fullName" javaScriptSafe="1"/>
            </h1>
            <div class="general__status-row">
                <dl class="general__status-cell">
                    <dt>Membership Type</dt>
                    <dd>
                        <dt:ifEqual first="${agreementType}" second="PROSPECT">
                            <dt:value property="agreementType" javaScriptSafe="1"/>
                        </dt:ifEqual>
                        <dt:ifNotEqual first="${agreementType}" second="PROSPECT">
                            <a class="link-primary text-decoration-underline" href="#"
                               onclick="editMembershipType()">
                                <dt:value property="agreementType" javaScriptSafe="1"/>
                            </a>
                        </dt:ifNotEqual>
                    </dd>
                </dl>
                <dl class="general__status-cell">
                    <dt>Membership Status</dt>
                    <dd>
                        <dt:value property="activeInactive" javaScriptSafe="1"/>
                    </dd>
                </dl>
                <dl class="general__status-cell">
                    <dt>Barcode</dt>
                    <dd><a id='barcodeContainer' class="link-primary text-decoration-underline" href="#"
                           onclick="changeBarcode()">
                        <dt:value property="memberBarcode" javaScriptSafe="1"/>
                    </a></dd>
                </dl>
            </div>
            <div class="general__call-to-action">
                <a class="icon-link text-decoration-none general__icon-link"
                   href="javascript:goQuickEnroll();">
                    <i class="fa-bell fab ico-enroll no-padding"></i>
                    <span>Quick Enroll</span>
                </a>
                <a href="#" class="icon-link text-decoration-none general__icon-link">
                    <i class="fa-bell fab ico-alert no-padding"></i>
                    <span>Create Alert</span>
                </a>
                <a class="icon-link text-decoration-none general__icon-link"
                   href="javascript:window.parent.goFromMenuClick('/CalendarCommand.pml?menuClick=true', 'CalendarCommand');">
                    <i class="fa-bell fab ico-calendar no-padding"></i>
                    <span>Calendar</span>
                </a>
                <a class="icon-link text-decoration-none general__icon-link"
                   href="javascript:window.parent.goFromMenuClick('/PointOfSaleCommand3.pml?menuClick=true', 'PointOfSaleCommand3');">
                    <i class="fa-bell fab ico-dollar no-padding"></i>
                    <span>POS</span>
                </a>
            </div>
        </div>
    </div>

    <div class="member-grid">
        <div class="section member-grid__card card services member-grid_fixed-card-height">
            <div class="member-grid__card-header">
                <nav class="navbar navbar-expand-lg bg-white" style="justify-content: space-between;">
                    <h4 class="navbar-title">Services</h4>
                    <button class="btn chevron primary-color-bg" onclick="gotoPage('Services');"></button>
                </nav>
            </div>
            <div class="scrollbar-macosx member-grid__card-content scrollable-height">
                <ul>
                    <dt:iterate nameValuePair="0" property="purchasedServices" index="index">
                        <li>
                            <a class="link-primary" href="#">
                                <dt:value javaScriptSafe="1" property="serviceName"/>
                            </a>
                        </li>
                    </dt:iterate>
                </ul>
            </div>
        </div>
        <div class="section member-grid__card card notes member-grid_fixed-card-height">
            <div class="member-grid__card-header">
                <nav class="navbar navbar-expand-lg bg-white" style="justify-content: space-between;">
                    <h4 class="navbar-title">Notes</h4>
                    <button class="btn chevron primary-color-bg" onclick="gotoPage('Notes');"></button>
                </nav>
            </div>

            <div class="scrollbar-macosx member-grid__card-content scrollable-height_108">
                <dt:iterate property="lastDatatrakNotes" index="index" nameValuePair="1">
                    <div class="datatrak-note">
                        <div class="note-text no-padding">
                            <dt:value javaScriptSafe="0" property="note"/>
                        </div>
                        <small class="text-muted">
                            <dt:value property="createdLocal" javaScriptSafe="0"/>
                            at
                            <dt:value property="createdAt" javaScriptSafe="0"/>
                            -
                            <dt:value property="takenBy" javaScriptSafe="0"/>
                        </small>
                    </div>
                </dt:iterate>
            </div>

            <a class="link-primary font-weight-bold text-decoration-none action notes__add" onclick="createNote();"
               href="#">+
                ADD NOTE</a>
        </div>
        <div class="section member-grid__card card events member-grid_fixed-card-height">
            <div class="member-grid__card-header">
                <nav class="navbar navbar-expand-lg bg-white" style="justify-content: space-between;">
                    <h4 class="navbar-title">Events</h4>
                    <button class="btn chevron primary-color-bg" onclick="gotoPage('Services');"></button>
                </nav>
            </div>
            <div class="scrollbar-macosx member-grid__card-content scrollable-height">
                <ul>
                    <dt:iterate nameValuePair="0" property="purchasedServices" index="index">
                        <li>
                            <a class="link-primary" href="#">
                                <dt:value javaScriptSafe="1" property="serviceName"/>
                            </a>
                        </li>
                    </dt:iterate>
                </ul>
            </div>
        </div>
        <div class="member-grid__subgrid">
            <div class="section card personal">
                <div class="card-body">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="justify-content: space-between;">
                        <h4 class="navbar-title">Personal</h4>
                        <button class="btn chevron primary-color-bg" onclick="gotoPage('Personal');"></button>
                    </nav>
                    <dl class="col">
                        <dt>EMAIL</dt>
                        <dd>
                            <dt:ifNotEqual first="${email}" second="">
                                <a class="link-primary" href="#" onclick="sendMail('<dt:value javaScriptSafe="1"property="memberId"/>')"
                                style="">
                                <dt:value property="email" javaScriptSafe="1"/>
                                </a>
                            </dt:ifNotEqual>
                            <dt:ifEqual first="${email}" second="">--</dt:ifEqual>
                        </dd>
                        <dt>ADDRESS</dt>
                        <dd>
                            <div>
                                <dt:value property="street" javaScriptSafe="1"/>
                            </div>
                            <div>
                                <dt:ifNotEqual first="${city}" second="">
                                    <dt:value property="city" javaScriptSafe="1"/>
                                    ,&nbsp;
                                </dt:ifNotEqual>
                                <dt:ifNotEqual first="${state}" second="">
                                    <dt:value property="state" javaScriptSafe="1"/>&nbsp;
                                </dt:ifNotEqual>
                                <dt:value property="zipCode" javaScriptSafe="1"/>
                            </div>
                        </dd>
                        <dt>PHONE NUMBER</dt>
                        <dd>
                            <dt:ifNotEqual first="${homePhone}" second="">
                                <dt:value property="homePhone" javaScriptSafe="1"/>
                            </dt:ifNotEqual>
                            <dt:ifEqual first="${homePhone}" second="">--</dt:ifEqual>
                        </dd>
                        <dt>BIRTHDAY</dt>
                        <dd>
                            <dt:ifNotEqual first="${dateOfBirth}" second="">
                                <dt:value property="dateOfBirth" javaScriptSafe="1"/>
                            </dt:ifNotEqual>
                            <dt:ifEqual first="${dateOfBirth}" second="">--</dt:ifEqual>
                        </dd>
                        <dt>SECONDARY MEMBERS</dt>
                        <dd>
                            <dt:ifEqual first="${hasSecondaryMembers}" second="1">
                                <dt:iterate property="secondaryMembers" index="index" nameValuePair="1">
                                    <div>
                                        <dt:value property="name" javaScriptSafe="1"/>
                                    </div>
                                </dt:iterate>
                            </dt:ifEqual>
                            <dt:ifEqual first="${hasSecondaryMembers}" second="0">--</dt:ifEqual>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="section member-grid__card card billing member-grid_fixed-card-height">
                <div class="card-body">
                    <nav class="navbar navbar-expand-lg bg-white" style="justify-content: space-between;">
                        <h4 class="navbar-title">Billing</h4>
                        <dt:ifNotEqual first="${prospect}" second="1">
                            <button class="btn chevron primary-color-bg" onclick="gotoPage('Billing');"></button>
                        </dt:ifNotEqual>
                    </nav>
                    <div class="data-card">
                        <div class="data-card__row">
                            <div class="data-card__col-left">
                                <div class="data-card__item">
                                    <div class="data-card__header">PRIMARY</div>
                                    <div class="data-card__text">
                                        <dt:ifEqual first="${prospect}" second="1">--</dt:ifEqual>
                                        <dt:ifNotEqual first="${prospect}" second="1">
                                            <dt:ifEqual first="${managedType}"
                                                        second="<%=PatronEnum.ABCMANAGED.toString()%>">
                                                <dt:ifEqual first="${selectedMemberId}" second="${primaryMemberId}">
                                                    <dt:setPageContextAttribute name="isPrimaryMemberSelected"
                                                                                value="1"/>
                                                </dt:ifEqual>
                                            </dt:ifEqual>
                                            <dt:childBean nameValuePair="0" property="membershipAccount">
                                                <dt:ifEqual first="<%= (String) pageContext.getAttribute( \"
                                                            isPrimaryMemberSelected\
                                                ", PageContext.PAGE_SCOPE ) %>" second="1">
                                                <a class="link-primary" href="#"
                                                   onclick="setAbcBillingPaymentOption();">
                                                    <dt:value property="paymentMethod" javaScriptSafe="1"/>
                                                    <dt:ifNotEqual first="${paymentLastFour}" second="">
                                                        &nbsp;-&nbsp;<dt:value property="paymentLastFour"
                                                                               javaScriptSafe="1"/>
                                                    </dt:ifNotEqual>
                                                </a>
                                                </dt:ifEqual>
                                                <dt:ifNotEqual first="<%= (String) pageContext.getAttribute( \"
                                                               isPrimaryMemberSelected\
                                                ", PageContext.PAGE_SCOPE ) %>" second="1">
                                                <dt:value property="paymentMethod" javaScriptSafe="1"/>
                                                <dt:ifNotEqual first="${paymentLastFour}" second="">
                                                    &nbsp;-&nbsp;<dt:value property="paymentLastFour"
                                                                           javaScriptSafe="1"/>
                                                </dt:ifNotEqual>
                                        </dt:ifNotEqual>
                                        </dt:childBean>
                                        </dt:ifNotEqual>
                                    </div>
                                </div>
                                <div class="data-card__item data-card_mt-16">
                                    <div class="data-card__header">LATE FEE</div>
                                    <div class="data-card__text">
                                        <dt:ifEqual first="${managedType}"
                                                    second="<%=PatronEnum.ABCMANAGED.toString()%>">
                                            <dt:value property="abcLastFeeTotal" javaScriptSafe="1"/>
                                        </dt:ifEqual>
                                        <dt:ifNotEqual first="${managedType}"
                                                       second="<%=PatronEnum.ABCMANAGED.toString()%>">$0.00
                                        </dt:ifNotEqual>
                                    </div>
                                </div>
                            </div>
                            <div class="data-card__col-right">
                                <div class="data-card__item">
                                    <div class="data-card__header">TOTAL NEXT DUE</div>
                                    <div class="data-card__text">
                                        <dt:ifEqual first="${managedType}"
                                                    second="<%=PatronEnum.ABCMANAGED.toString()%>">
                                            <dt:value property="abcTotalNextDue" javaScriptSafe="1"/>
                                        </dt:ifEqual>
                                        <dt:ifNotEqual first="${managedType}"
                                                       second="<%=PatronEnum.ABCMANAGED.toString()%>">$0.00
                                        </dt:ifNotEqual>
                                    </div>
                                </div>
                                <div class="data-card__item data-card_mt-16">
                                    <div class="data-card__header">PAST DUE</div>
                                    <div class="data-card__text">
                                        <dt:ifEqual first="${managedType}"
                                                    second="<%=PatronEnum.ABCMANAGED.toString()%>">
                                            <dt:value property="abcTotalDue" javaScriptSafe="1"/>
                                        </dt:ifEqual>
                                        <dt:ifNotEqual first="${managedType}"
                                                       second="<%=PatronEnum.ABCMANAGED.toString()%>">$0.00
                                        </dt:ifNotEqual>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="link-primary font-weight-bold text-decoration-none action" href="#"
                       onclick="gotoPage('Invoices');">VIEW INVOICES</a>
                </div>
            </div>
            <div class="section member-grid__card card agreement member-grid_fixed-card-height">
                <div class="card-body">
                    <nav class="navbar navbar-expand-lg bg-white" style="justify-content: space-between;">
                        <h4 class="navbar-title">Agreement</h4>
                        <button class="btn chevron primary-color-bg" onclick="gotoPage('Agreement');"></button>
                    </nav>
                    <div class="data-card">
                        <div class="data-card__row">
                            <div class="data-card__col-left">
                                <div class="data-card__item">
                                    <div class="data-card__header">AGREEMENT #</div>
                                    <div class="data-card__text">
                                        <dt:value property="agreementNumber" javaScriptSafe="1"/>
                                    </div>
                                </div>
                                <div class="data-card__item data-card_mt-16">
                                    <div class="data-card__header">PAY FREQUENCY</div>
                                    <div class="data-card__text">
                                        <dt:value property="paymentFrequency" javaScriptSafe="0"/>
                                    </div>
                                </div>
                            </div>
                            <div class="data-card__col-right">
                                <div class="data-card__item">
                                    <div class="data-card__header">TERM</div>
                                    <div class="data-card__text">
                                        <dt:value property="agreementTerm" javaScriptSafe="1"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="link-primary font-weight-bold text-decoration-none action" onclick="gotoPage('Documents')"
                       href="#">VIEW DOCUMENTS</a>
                </div>
            </div>
        </div>
        <div class="section member-grid__card card quicknotes member-grid_fixed-card-height">
            <div class="card-body">
                <nav class="navbar navbar-expand-lg bg-white quicknotes__header">
                    <h4 class="navbar-title">Quick Links</h4>
                </nav>
                <ul class="list-unstyled">
                    <li>
                        <a class="link-primary" href="#">Member Alerts</a>
                    </li>
                    <li>
                        <a class="link-primary" href="#">Activities</a>
                    </li>
                    <li>
                        <a class="link-primary" href="#">Check In History</a>
                    </li>
                    <li>
                        <a class="link-primary" href="#">User Defined Fields</a>
                    </li>
                    <li>
                        <a class="link-primary" href="#">Documents</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section member-grid__card card timeline">
            <div class="member-grid__card-header">
                <nav class="navbar navbar-expand-lg bg-white" style="justify-content: space-between;">
                    <h4 class="navbar-title">Timeline</h4>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link timeline-nav-link dropdown-toggle no-padding" href="#"
                               id="navbarDropdownMenuLink"
                               role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Past 30 Days
                            </a>
                            <div class="inner-list">
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Today</a>
                                    <a class="dropdown-item" href="#">Yesterday</a>
                                    <a class="dropdown-item" href="#">This week</a>
                                    <a class="dropdown-item" href="#">Last week</a>
                                    <a class="dropdown-item" href="#">This month</a>
                                    <a class="dropdown-item" href="#">Last month</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="scrollbar-macosx member-grid__card-content scrollable-height">
                <dl>
                    <dt>4/25/20</dt>
                    <dd>Cliff Bar</dd>
                    <dt>4/25/20</dt>
                    <dd>Tanning</dd>
                    <dt>4/25/20</dt>
                    <dd><a class="link-primary" href="#">Checked In</a></dd>
                    <dt>4/25/20</dt>
                    <dd>Tanning</dd>
                    <dt>4/25/20</dt>
                    <dd>CC Declined</dd>
                    <dt>4/25/20</dt>
                    <dd><a class="link-primary" href="#">Checked In</a></dd>
                </dl>
            </div>
            <!--div class="no-data-facet">There has been no activity for the last 30 days.</div-->
        </div>
        <div class="section member-grid__card card purchase member-grid_fixed-card-height">
            <div class="card-body">
                <nav class="navbar navbar-expand-lg navbar-light bg-white" style="justify-content: space-between;">
                    <h4 class="navbar-title">Purchase Items</h4>
                    <button class="btn chevron primary-color-bg"></button>
                </nav>
                <div class="purchase__body">
                    <div class="purchase__item">
                        <div class="icon-wrap purchase__image-wrapper"><img class="purchase__image" src="/images/bootstrap/test_img_1.png"></div>
                        <a class="purchase__link link-primary" href="#">Tanning Lotion</a>
                    </div>
                    <div class="purchase__item">
                        <div class="icon-wrap purchase__image-wrapper"><img class="purchase__image" src="/images/clubhome/pf_water_bottle.png"></div>
                        <a class="purchase__link link-primary" href="#">Bottled Water</a>
                    </div>
                    <div class="purchase__item">
                        <div class="icon-wrap purchase__image-wrapper"><img class="purchase__image" src="/images/bootstrap/test_img_4.png"></div>
                        <a class="purchase__link link-primary" href="#">Muscle Milk</a>
                    </div>
                    <div class="purchase__item">
                        <div class="icon-wrap purchase__image-wrapper"><img class="purchase__image" src="/images/bootstrap/test_img_3.png"></div>
                        <a class="purchase__link link-primary" href="#">T-Shirt</a>
                    </div>
                    <div class="purchase__item">
                        <div class="icon-wrap purchase__image-wrapper"><img class="purchase__image" src="/images/bootstrap/test_img_5.png"></div>
                        <a class="purchase__link link-primary" href="#">Gift Card</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>