<div class="container-fluid h-100 bg-light member-page personal-details">
    <div class="inner-container">
        <%@ include file="/jsp/agreement/AgreementBreadcrumb.jsp" %>
        <%@ include file="/jsp/agreement/AgreementMemberInfo_newDesign.jsp" %>
        <div class="member-detail__grid">
            <div class="section member-navigation member-detail__navigation">
                <%@ include file="/jsp/agreement/AgreementMemberNavigation.jsp" %>
            </div>
            <div class="member-detail__content member-personal-details">
                <div class="member-personal__grid">
                    <div class="member-personal__personal-card">
                        <div class="section h-100 personal-details-section personal-details card">
                            <div class="card-body">
                                <div class="section-header">
                                    <h4 class="navbar-title">Personal Details
                                        <a class="link-primary" href="#"
                                           onclick="editPersonalDetails();" style="">Edit Details</a>
                                    </h4>
                                </div>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Name</dt>
                                    <dd class="col no-padding"><dt:value property="fullName"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Gender</dt>
                                    <dd class="col no-padding"><dt:value property="gender"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Date of Birth</dt>
                                    <dd class="col no-padding"><dt:value property="dateOfBirth"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Social Security #</dt>
                                    <dd class="col no-padding"><dt:value
                                            property="maskSocialSecurityNumber"
                                            javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Occupation</dt>
                                    <dd class="col no-padding"><dt:value property="occupation"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Employer</dt>
                                    <dd class="col no-padding"><dt:value property="employer"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <div class="section-header internal-header">
                                    <h4 class="navbar-title">Membership Details
                                        <a class="link-primary" href="#"
                                           onclick="editMembershipDetails();" style="">Edit
                                            Membership</a>
                                    </h4>
                                </div>
                                <dl class="row no-margins">
                                    <dt class="col no-padding" style="min-width: 76px">Barcode</dt>
                                    <dd class="col member-barcode" style="padding-left: 0"><dt:value
                                            property="memberBarcode" javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Previous Agreement #</dt>
                                    <dd class="col no-padding"><dt:value
                                            property="previousAgreementNumber"
                                            javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Wellness Program ID</dt>
                                    <dd class="col no-padding"><dt:value property="healthwaysId"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Membership Type</dt>
                                    <dt:ifEqual first="${agreementType}" second="PROSPECT">
                                        <dd class="col no-padding"><dt:value property="agreementType"
                                                                             javaScriptSafe="0"/></dd>
                                    </dt:ifEqual>
                                    <dt:ifNotEqual first="${agreementType}" second="PROSPECT">
                                        <dd class="col no-padding">
                                            <a class="link-primary" href="#"
                                               onclick="editMembershipType();" style=""><dt:value
                                                    property="agreementType"
                                                    javaScriptSafe="0"/></a>
                                        </dd>
                                    </dt:ifNotEqual>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Group</dt>
                                    <dd class="col no-padding"><dt:value property="memberGroup"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Member Misc 1</dt>
                                    <dd class="col no-padding"><dt:value property="miscellaneous1"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Member Misc 2</dt>
                                    <dd class="col no-padding"><dt:value property="miscellaneous2"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Member Misc 3</dt>
                                    <dd class="col no-padding"><dt:value property="miscellaneous3"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="member-personal__demographics-card">
                        <div class="section h-100 personal-details-section demographics card">
                            <div class="card-body">
                                <div class="section-header">
                                    <h4 class="navbar-title">Demographics
                                        <a class="link-primary" href="#" onclick="editContact();"
                                           style="">Edit</a>
                                    </h4>
                                </div>
                                <dt:ifEqual first="${addressLines}" second="1">
                                    <dl class="row no-margins">
                                        <dt class="col no-padding">Street</dt>
                                        <dd class="col no-padding"><dt:value property="street"
                                                                             javaScriptSafe="0"/></dd>
                                    </dl>
                                </dt:ifEqual>
                                <dt:ifNotEqual first="${addressLines}" second="1">
                                    <dl class="row no-margins">
                                        <dt class="col no-padding">Address 1</dt>
                                        <dd class="col no-padding"><dt:value property="street"
                                                                             javaScriptSafe="0"/></dd>
                                    </dl>
                                    <dl class="row no-margins">
                                        <dt class="col no-padding">Address 2</dt>
                                        <dd class="col no-padding"><dt:value property="address2"
                                                                             javaScriptSafe="0"/></dd>
                                    </dl>
                                </dt:ifNotEqual>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">City</dt>
                                    <dd class="col no-padding"><dt:value property="city"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">State</dt>
                                    <dd class="col no-padding"><dt:value property="stateName"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Zip Code</dt>
                                    <dd class="col no-padding"><dt:value property="zipCode"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dt:ifNotEqual first="${countryCount}" second="1">
                                    <dl class="row no-margins">
                                        <dt class="col no-padding">Country</dt>
                                        <dd class="col no-padding"><dt:value property="countryCaption"
                                                                             javaScriptSafe="0"/></dd>
                                    </dl>
                                </dt:ifNotEqual>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Email Address</dt>
                                    <dd class="col no-padding">
                                        <dt:ifNotEqual first="${email}" second="">
                                            <a class="link-primary" href="#"
                                               onclick="sendMail('<dt:value javaScriptSafe="1"
                                            property="memberId"/>')"
                                            style="">
                                            <dt:value property="email" javaScriptSafe="1"/>
                                            </a>
                                        </dt:ifNotEqual>
                                    </dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Driver's License</dt>
                                    <dd class="col no-padding"><dt:value property="driversLicense"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Primary Phone</dt>
                                    <dd class="col no-padding"><dt:value property="homePhone"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Mobile Phone</dt>
                                    <dd class="col no-padding"><dt:value property="cellPhone"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Work Phone</dt>
                                    <dd class="col phone-number-container">
                                                        <span class="phone-number"><dt:value property="workPhone"
                                                                                             javaScriptSafe="0"/></span>
                                        <span>ext.</span>
                                        <span class="phone-extension"><dt:value property="workExtension"
                                                                                javaScriptSafe="0"/></span>
                                    </dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Fax Number</dt>
                                    <dd class="col no-padding"><dt:value property="fax"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Member Availability</dt>
                                    <dd class="col no-padding"><dt:value property="memberAvailability"
                                                                         javaScriptSafe="1"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Emergency Phone</dt>
                                    <dd class="col phone-number-container">
                                                        <span class="phone-number"><dt:value property="emergencyPhone"
                                                                                             javaScriptSafe="0"/></span>
                                        <span>ext.</span>
                                        <span class="phone-extension"><dt:value
                                                property="emergencyExtension"
                                                javaScriptSafe="0"/></span>
                                    </dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Emergency Contact</dt>
                                    <dd class="col no-padding"><dt:value property="emergencyName"
                                                                         javaScriptSafe="1"
                                                                         htmlSafe="1"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Emergency Availability</dt>
                                    <dd class="col no-padding"><dt:value
                                            property="emergencyAvailability"
                                            javaScriptSafe="1"/></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="member-personal__messaging-card">
                        <div class="section h-100 personal-details-section messaging-marketing card">
                            <div class="card-body">
                                <div class="section-header">
                                    <h4 class="navbar-title">Messaging
                                        <a class="link-primary" href="#"
                                           onclick="editMessagePreferences();" style="">Edit</a>
                                    </h4>
                                </div>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Receive Emails</dt>
                                    <dd class="col no-padding"><dt:value property="recieveEmail"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Email Address</dt>
                                    <dd class="col no-padding"><dt:value property="emailDisplay"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Receive Text</dt>
                                    <dd class="col no-padding"><dt:value property="recieveText"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Text Number</dt>
                                    <dd class="col no-padding"><dt:value property="textRecipiantNumber"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <div class="section-header internal-header">
                                    <h4 class="navbar-title">Marketing
                                        <a class="link-primary" href="#"
                                           onclick="editMessagePreferences();" style="">Edit</a>
                                    </h4>
                                </div>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Receive Emails</dt>
                                    <dd class="col no-padding"><dt:value
                                            property="receiveMarketingEmails"
                                            javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Receive SMS</dt>
                                    <dd class="col no-padding"><dt:value property="receiveMarketingSMS"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Receive Direct Mail</dt>
                                    <dd class="col no-padding"><dt:value
                                            property="receiveMarketingDirectMail"
                                            javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Receive Push Notifications</dt>
                                    <dd class="col no-padding"><dt:value
                                            property="receiveMarketingPushNotifications"
                                            javaScriptSafe="0"/></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="member-personal__preferences-card">
                        <div class="section h-100 personal-details-section access-code-data-preferences card">
                            <div class="card-body">
                                <div class="section-header">
                                    <h4 class="navbar-title">Access Code
                                        <a class="link-primary" href="#" onclick="editAccessCode();">Edit</a>
                                    </h4>
                                </div>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Access Code</dt>
                                    <dd class="col no-padding">
                                        <dt:ifEqual first="${hasAccessCode}" second="1">
                                            ****
                                        </dt:ifEqual>
                                        <dt:ifNotEqual first="${hasAccessCode}" second="1">
                                            <%= JspSupport.NONE %>
                                        </dt:ifNotEqual>
                                    </dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Failed Attempts</dt>
                                    <dd class="col no-padding"><dt:value property="accessCodeFailures"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <div class="section-header internal-header">
                                    <h4 class="navbar-title">Data Preferences</h4>
                                </div>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Opt-Out CCPA</dt>
                                    <dd class="col no-padding"><dt:value property="optOutCCPA"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Delete CCPA</dt>
                                    <dd class="col no-padding"><dt:value property="deleteCCPA"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Opt-Out GDPR</dt>
                                    <dd class="col no-padding"><dt:value property="optOutGDPR"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Delete GDPR</dt>
                                    <dd class="col no-padding"><dt:value property="deleteGDPR"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Opt-Out Other</dt>
                                    <dd class="col no-padding"><dt:value property="optOutOther"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                                <dl class="row no-margins">
                                    <dt class="col no-padding">Delete Other</dt>
                                    <dd class="col no-padding"><dt:value property="deleteOther"
                                                                         javaScriptSafe="0"/></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="member-personal__lockers-card">
                        <div class="member-personal__lockers-wrapper">
                            <h4 class="member-personal__lockers-header">Locker</h4>
                            <div class="member-personal__locker-controls">
                                <button type="button" class="btn outline-button action-button"
                                        onclick="memberLockerHistory('<dt:value
                                                                property="selectedMemberId"
                                javaScriptSafe="0"/>');">History</button>
                                <dt:ifEqual first="${active}" second="1">
                                    <button type="button" class="btn primary-color-bg action-button"
                                            onclick="addLocker('<dt:value property="selectedMemberId"
                                    javaScriptSafe="0"/>'); return false;">Add
                                    </button>
                                </dt:ifEqual>
                            </div>
                        </div>
                        <table class="table data-header">
                            <thead>
                            <tr>
                                <th class="col-club-location">CLUB LOCATION</th>
                                <th class="col-locker-status">LOCKER STATUS</th>
                                <th class="col-number">NUMBER</th>
                                <th class="col-start-and-expiration">START & EXPIRATION</th>
                                <th class="col-type">TYPE</th>
                                <th class="col-member">MEMBER</th>
                            </tr>
                            </thead>
                        </table>
                        <div class="bt-scroll">
                            <div class="scrollbar-macosx">
                                <table class="table data-table">
                                    <tbody>
                                    <dt:iterate property="lockers" index="index"
                                                nameValuePair="1">
                                        <tr>
                                            <td class="col-club-location">
                                                <div><dt:value property="CLUB"
                                                               javaScriptSafe="0"/></div>
                                                <div><dt:value property="LOCKER_LOCATION"
                                                               javaScriptSafe="0"/></div>
                                            </td>
                                            <td class="col-locker-status">
                                                <dt:value property="LOCKER_STATUS_NAME"
                                                          javaScriptSafe="0"/>
                                            </td>
                                            <td class="col-number">
                                                <a class="link-primary" href="#"
                                                   onclick="editLocker('<dt:value
                                                                           property="LOCK_ID"
                                                javaScriptSafe="0"/>')">
                                                <dt:value property="LOCKER_NUMBER"
                                                          javaScriptSafe="0"/>
                                                </a>
                                            </td>
                                            <td class="col-start-and-expiration">
                                                <div><dt:value property="START_DATE"
                                                               javaScriptSafe="0"/></div>
                                                <dt:ifEqual first="${LOCKER_STATUS}"
                                                            second="<%= com.seqtek.abcfs.dt.locker.LockerConfigurationState.LockerStatus.expired.getCode() %>">
                                                    <div class="errorMessage"><dt:value
                                                            property="EXPIRATION_DATE"
                                                            javaScriptSafe="0"/></div>
                                                </dt:ifEqual>
                                                <dt:ifNotEqual first="${LOCKER_STATUS}"
                                                               second="<%= com.seqtek.abcfs.dt.locker.LockerConfigurationState.LockerStatus.expired.getCode() %>">
                                                    <div><dt:value property="EXPIRATION_DATE"
                                                                   javaScriptSafe="0"/></div>
                                                </dt:ifNotEqual>
                                            </td>
                                            <td class="col-type">
                                                <dt:value property="LOCKER_TYPE"
                                                          javaScriptSafe="0"/>
                                            </td>
                                            <td class="col-member">
                                                <dt:value property="MEMBER_GUI"
                                                          javaScriptSafe="0"/>
                                            </td>
                                        </tr>
                                    </dt:iterate>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>