.member-notes {
  &__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-max-content 24px -webkit-max-content 24px -webkit-max-content 24px;
    -ms-grid-rows: max-content 24px max-content 24px max-content 24px;
    grid-template-rows: -webkit-max-content 24px -webkit-max-content 24px -webkit-max-content 24px;
    grid-template-rows: max-content 24px max-content 24px max-content 24px;
  }

  &__first-row {
    -ms-grid-row: 1;
    grid-row: 1;
  }

  &__button {
    -ms-grid-row: 3;
    grid-row: 3;
  }

  &__table {
    -ms-grid-row: 5;
    grid-row: 5;
  }
}