<div class="container-fluid h-100 bg-light member-page notes">
    <div class="inner-container">
        <%@ include file="/jsp/agreement/AgreementBreadcrumb.jsp" %>
        <%@ include file="/jsp/agreement/AgreementMemberInfo_newDesign.jsp" %>
        <div class="member-detail__grid">
            <div class="section member-navigation member-detail__navigation">
                <%@ include file="/jsp/agreement/AgreementMemberNavigation_newDesign.jsp" %>
            </div>
            <div class="section member-detail__content">
                <div class="member-notes__grid">
                    <div class="section member-notes__first-row">
                        <div class="member-detail__dropdowns-wrapper">
                            <div class="form-group member-detail__dropdowns-item">
                                <label for="selectedMemberId" class="control-label">Member</label>
                                <boot:select destinationId="selectedMemberId"
                                             sourceId="selectedMemberId"
                                             optionList="memberOptionList"
                                             onchange="refreshSelectedMember()"
                                             selectClass="form-control"
                                             id="selectedMemberId"
                                />
                            </div>
                            <div class="form-group member-detail__dropdowns-item">
                                <label for="noteType" class="control-label">Note Type</label>
                                <boot:select disabled="${dataTrakOnlyNoteType}"
                                             selectClass="form-control"
                                             destinationId="noteType" sourceId="noteType"
                                             optionList="noteTypes"
                                             onchange="wizardRefreshForm()" id="noteType"/>
                            </div>
                        </div>
                    </div>

                    <div class="text-right member-notes__button">
                        <button type="button" class="btn primary-color-bg action-button"
                                id="create-note">Add Note
                        </button>
                    </div>

                    <dt:ifEqual first="${noteType}"
                                second="<%= AgreementState.NoteTypes.DataTrak.name() %>">
                        <div class="member-notes__table">
                            <table class="table data-header" id="datatrak-notes-header">
                                <thead>
                                <tr>
                                    <th class="col-takenby sortable">TAKEN BY<i
                                            class="bi bi-chevron-down pl-1"></i></th>
                                    <th class="col-date-time sortable">DATE & TIME<i
                                            class="bi bi-chevron-down pl-1"></i></th>
                                    <th class="col-note sortable">NOTE<i
                                            class="bi bi-chevron-down pl-1"></i></th>
                                    <th class="col-action sortable"></th>
                                </tr>
                                </thead>
                            </table>
                            <div class="bt-scroll">
                                <div class="scrollbar-macosx" style="max-height: 600px!important">
                                    <table class="table data-table" id="datatrak-notes">
                                        <tbody>
                                        <tr style="display: none" class="no-data-facet">
                                            <td>None found</td>
                                        </tr>
                                        <dt:iterate property="datatrakNotes" index="index"
                                                    nameValuePair="1">
                                            <tr>
                                                <td class="col-takenby">
                                                    <dt:value javaScriptSafe="0" property="takenBy"/>
                                                </td>
                                                <td class="col-date-time">
                                                    <dt:value javaScriptSafe="0"
                                                              property="createdLocal"/>
                                                    at <dt:value javaScriptSafe="0"
                                                                 property="createdAt"/>
                                                </td>
                                                <td class="col-note">
                                                    <dt:value javaScriptSafe="0" property="note"/>
                                                </td>
                                                <td class=" col-action ">
                                                    <a href="#"
                                                       onclick="deleteNote( '<dt:value property="noteId"
                                                    javaScriptSafe="1"/>' );">Delete</a>
                                                </td>
                                            </tr>
                                        </dt:iterate>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </dt:ifEqual>
                    <dt:ifEqual first="${noteType}" second="<%= AgreementState.NoteTypes.ABC.name() %>">
                        <div class="member-notes__table">
                            <table class="table data-header" id="abc-notes-header">
                                <thead>
                                <tr>
                                    <th class="col-date sortable">DATE<i
                                            class="bi bi-chevron-down pl-1"></i></th>
                                    <th class="col-time sortable">TIME<i
                                            class="bi bi-chevron-down pl-1"></i></th>
                                    <th class="col-code sortable">CODE<i
                                            class="bi bi-chevron-down pl-1"></i></th>
                                    <th class="col-text sortable">TEXT<i
                                            class="bi bi-chevron-down pl-1"></i></th>
                                    <th class="col-user sortable">USER<i
                                            class="bi bi-chevron-down pl-1"></i></th>
                                </tr>
                                </thead>
                            </table>
                            <div class="bt-scroll">
                                <div class="scrollbar-macosx" style="max-height: 600px!important">
                                    <table class="table data-table" id="abc-notes">
                                        <tbody>
                                        <tr style="display: none" class="no-data-facet">
                                            <td>None found</td>
                                        </tr>
                                        <dt:iterate property="abcNotes" index="index" nameValuePair="1">
                                            <tr>
                                                <td class="col-date">
                                                    <dt:value javaScriptSafe="0" property="noteDate"/>
                                                </td>
                                                <td class="col-time">
                                                    <dt:value javaScriptSafe="0" property="noteTime"/>
                                                </td>
                                                <td class="col-code">
                                                    <dt:value javaScriptSafe="0" property="noteCode"/>
                                                </td>
                                                <td class="col-text">
                                                    <dt:value javaScriptSafe="0" property="noteText"/>
                                                </td>
                                                <td class="col-user">
                                                    <dt:value javaScriptSafe="0" property="noteUser"/>
                                                </td>
                                            </tr>
                                        </dt:iterate>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </dt:ifEqual>
                </div>
            </div>
        </div>
    </div>
</div>