* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  height: 100vh;
}

.title {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: space-between;
}
.title__logo {
  width: 157px;
  height: 54px;
}

.charts {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  padding: 24px;
  border-radius: 8px;
  background-color: #43144D;
  color: white;
  font-family: "Roboto", sans-serif;
}
.charts__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.charts__table {
  width: 40%;
  border-collapse: collapse;
}
.charts__table th {
  text-align: left;
  font-size: 12px;
  padding: 4px 6px;
  font-weight: 400;
}
.charts__table td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.charts__table td:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.charts__table td {
  padding: 11px 8px;
  font-size: 16px;
  font-weight: 500;
}
.charts__table tbody tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.1);
}
.charts__circle {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  min-width: 120px;
  width: 120px;
}
.charts__text {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  padding-left: 25px;
}
.charts__text > * {
  display: flex;
  align-items: center;
}

.activities {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  font-family: "Roboto", sans-serif;
  margin-top: 24px;
}
.activities__card {
  position: relative;
  width: 280px;
  min-width: 280px;
  background-color: white;
  padding: 27px 24px 0 24px;
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
  height: 520px;
}
.activities__title {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  color: #242128;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.activities__body {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 24px;
  height: 320px;
}
.activities__body_noflex {
  display: inline-block;
  width: 100%;
  height: 420px;
  padding-right: 6px;
}
.activities__body_mt-19 {
  margin-top: 19px;
}
.activities__card:not(:first-child):not(:last-child) {
  margin: 0 32px;
}

.scroll-wrapper > .scroll-content {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.outlined-btn {
  padding: 11px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.outlined-btn:hover {
  background-color: white;
  color: #762B85;
  text-decoration: none;
}

.arrow_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 8px;
  background-color: #762B85;
  cursor: pointer;
}
.arrow_btn__arrow {
  height: 11px;
  width: 7px;
}

.image-item {
  font-family: "Roboto", sans-serif;
  width: 103px;
}
.image-item:not(:nth-child(-n+2)) {
  margin-top: 19px;
}
.image-item__image {
  height: 120px;
  width: 100%;
  border: 1px solid #EFEFEF;
  filter: drop-shadow(0px 3px 13px rgba(0, 0, 0, 0.07));
  border-radius: 8px;
}
.image-item__text {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #0073BA;
  letter-spacing: 0.25px;
  text-decoration: underline;
  font-weight: normal;
}

.text-item {
  margin: 16px 0 0 0;
  font-family: "Roboto", sans-serif;
  padding-right: 16px;
}
.text-item:first-child {
  margin: 0;
}
.text-item__label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: white;
  background-color: #28A9E0;
  border-radius: 12px;
  width: 48px;
  height: 18px;
  text-align: center;
}
.text-item__title {
  margin-bottom: 8px;
  line-height: 19px;
  color: #242128;
  font-size: 16px;
  font-weight: 600;
}
.text-item__text {
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #242128;
  padding-bottom: 16px;
  border-bottom: 2px solid #E6E6E6;
}

.progress-item {
  padding: 24px 15px 18px 15px;
  border: 1px solid #EFEFEF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  color: #242128;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.progress-item:not(:first-child) {
  margin-top: 16px;
}
.progress-item__contact {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}
.progress-item__contact_email {
  font-size: 12px;
  line-height: 18px;
  color: #75707D;
}
.progress-item__title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.progress-item__description {
  margin-top: 8px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.progress-item__description > * {
  margin: 0;
}
.progress-item__progressbar {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.progress-item__progressbar_meter {
  flex: 8;
  height: 10px;
  border-radius: 25px;
  background-color: #CECED9;
}
.progress-item__progressbar_description {
  flex: 2;
  min-width: 31px;
  width: 31px;
  margin-left: 16px;
}
.progress-item__progressbar_meter > span {
  display: block;
  height: 100%;
  border-radius: 25px;
  background-color: #762B85;
  overflow: hidden;
}

.search {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  padding: 11px 20px;
  border: 1px solid #CECED9;
  border-radius: 3px;
}
.search__button {
  display: flex;
  flex: 0 0 6%;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.search__icon {
  height: 12px;
  width: 12px;
}
.search__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
  background-color: white;
  border: none;
  width: 100%;
}
.search__input:focus {
  outline: none;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 5px;
  font-size: 10px;
}
.circle_yellow-light {
  background-color: #FEF301;
}
.circle_yellow-dark {
  background-color: #999201;
}

.footer-space {
  height: 42px;
}

.content-wrapper {
  min-height: 99vh;
  height: 99vh;
  overflow: auto;
  padding: 32px 0;
}

.content {
  position: relative;
  margin: 0 auto;
  padding: 24px 57px 0 57px;
  border-radius: 16px;
  max-width: 1020px;
  width: 1020px;
  min-height: 530px;
  height: 530px;
  background: -webkit-gradient(linear, left top, left bottom, from(#762B85), to(#43144D));
  background: -webkit-linear-gradient(top, #762B85, #43144D);
  background: -o-linear-gradient(top, #762B85, #43144D);
  background: linear-gradient(180deg, #762B85, #43144D);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

.circle-progress-bar {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 122px;
}
.circle-progress-bar__title {
  font-weight: 500;
  font-size: 16px;
}
.circle-progress-bar__base {
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 8px;
  stroke-linecap: round;
}
.circle-progress-bar__bar {
  stroke: #FEF301;
  stroke-width: 8px;
  stroke-linecap: round;
  transform-origin: center center;
  transform: rotate(-90deg);
}
.circle-progress-bar__content {
  margin-top: 24px;
  display: block;
  height: 72px;
  width: 72px;
  border-radius: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.circle-progress-bar__content:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: attr(data-pct) "%";
  border-radius: 100%;
  font-size: 18px;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
}
.schedule-wrap {
  width: 200px;
  max-width: 200px;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
  text-transform: uppercase;
}
.schedule__indicators {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-bottom: 21px;
}
.schedule__indicators span {
  position: relative;
}
.schedule__indicators span:not(:last-child) {
  margin-bottom: 6px;
}
.schedule__indicators span::after {
  position: absolute;
  content: "";
  left: calc(100% + 5px);
  bottom: 5px;
  width: 179px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}
.schedule__data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.schedule__lines {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;
}
.schedule__line {
  position: relative;
  z-index: 2;
  display: block;
  border-radius: 13px;
  margin: 0 8px;
  width: 8px;
  height: 61px;
  background-color: #FEF301;
  cursor: pointer;
}
.schedule__line:first-child {
  margin-left: 8px;
}
.schedule__line:hover {
  z-index: 3;
}
.schedule__line:hover::after, .schedule__line:hover::before {
  pointer-events: none;
  opacity: 1;
}
.schedule__line::after {
  position: absolute;
  z-index: 3;
  content: attr(data-nmb);
  top: 0;
  left: calc(100% + 7px);
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #242128;
  background-color: white;
  transform: translateY(-50%);
  opacity: 0;
}
.schedule__line::before {
  position: absolute;
  z-index: 3;
  content: "";
  top: -7px;
  left: calc(100% + 4px);
  border: 1px solid #ceced9;
  width: 11px;
  height: 11px;
  background-color: #fff;
  transform: rotate(45deg);
  opacity: 0;
}
.schedule__limit {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  border-radius: 13px;
  width: 100%;
  height: 41px;
  background-color: #999201;
}
.schedule__time {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  flex-grow: 1;
  width: 100%;
  padding-top: 8px;
}
.schedule__time span {
  min-width: 24px;
  text-align: center;
}
.schedule__labels {
  padding-top: 8px;
  text-transform: none;
  text-align: right;
  color: #FFFFFF;
}
.schedule__labels > span {
  position: relative;
  padding-left: 13px;
}
.schedule__labels > span::after {
  position: absolute;
  content: "";
  top: calc(50%);
  left: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  transform: translateY(-50%);
  background-color: #FEF301;
}
.schedule__labels > span:last-child {
  margin-left: 26px;
}
.schedule__labels > span:last-child::after {
  background-color: #999201;
}

/*# sourceMappingURL=style.css.map */
