.no-padding {
  padding: 0;

  &_left {
    padding-left: 0 !important;
  }

  &_right {
    padding-right: 0 !important;
  }
}

.no-margins {
  margin: 0;
}

.dashboard {
  padding-left: 40px;
  padding-right: 25px;

  &__breadcrumb {
    padding-left: 0;
    padding-right: 0;
  }
}

.member-info .user-image-wrap {
  height: 140px;
  width: 140px;
  margin: 0;
  text-align: center;
}

.user-image-wrap {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.member-info .user-image-wrap img {
  width: 140px;
  height: 140px;
  position: relative;
  margin: 0;
  border-radius: 8px;
}

.member-info {
  display: grid;
  grid-template-columns: 140px 40px max-content;

  &__info-wrapper{
    grid-column: 3;
    grid-row: 1;
  }

  &__info {
    display: flex;

    & > * {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}