.member-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(328px, 4fr) minmax(328px, 8fr);
  grid-template-columns: [col-left-start] minmax(328px, 4fr) [col-left-end col-right-start] minmax(328px, 8fr) [col-right-end];
  -ms-grid-rows: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
}
.member-grid__right {
  padding-left: 12px;
}
.member-grid__left {
  padding-right: 12px;
}
.member-grid__subgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
  grid-template-columns: 6fr 6fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  margin-left: 12px;
}
.member-grid__subgrid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.member-grid__subgrid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.member-grid__subgrid > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.member-grid__subgrid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.member-grid__subgrid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.member-grid__subgrid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.member-grid__subgrid > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.member-grid__subgrid > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.member-grid_ml-12 {
  margin-left: 12px;
}
.member-grid_mr-12 {
  margin-right: 12px;
}

.member-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.member-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.member-grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.member-grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.member-grid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.member-grid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.member-grid > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.member-grid > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.member-grid > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.member-grid > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.member-grid > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.member-grid > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.member-grid > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.member-grid > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.member-grid > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.member-grid > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.member-grid > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.member-grid > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.member-grid > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.member-grid > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.member-grid > *:nth-child(21) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.member-grid > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.member-grid > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.member-grid > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.member-grid > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.member-grid > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.member-grid > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.member-grid > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.member-grid > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.member-grid > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.member-grid > *:nth-child(31) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.member-grid > *:nth-child(32) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.member-grid > *:nth-child(33) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.member-grid > *:nth-child(34) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.member-grid > *:nth-child(35) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.member-grid > *:nth-child(36) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}

.services {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.notes {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 12px;
}

.quicknotes {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.timeline {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.personal {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  margin-right: 12px;
}

.billing {
  margin-left: 12px;
}

.agreement {
  margin-left: 12px;
}

.purchase {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}

@media (max-width: 768px) {
  .member-status-row {
    margin-bottom: 0;
  }

  .icon-link {
    margin-right: 0;
  }

  .section .cards-panel {
    padding: 0 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .notes {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin-left: 0;
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }

  .services {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .member-grid__subgrid {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -ms-grid-row-span: 4;
    grid-row: span 4;
  }

  .quicknotes {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }

  .personal {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 2;
    grid-row: span 2;
    margin-right: 0;
  }

  .billing {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin-left: 0;
  }

  .agreement {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin-left: 0;
  }

  .purchase {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .services {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .notes {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 0;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .member-grid__subgrid {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -ms-grid-row-span: 4;
    grid-row: span 4;
  }

  .quicknotes {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .timeline {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }

  .personal {
    -ms-grid-row-span: 2;
    grid-row: span 2;
    margin-right: 12px;
  }

  .billing {
    margin-left: 12px;
  }

  .agreement {
    margin-left: 12px;
  }

  .purchase {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
}

/*# sourceMappingURL=adaptive_grid.css.map */
